<h2>Olvidaste tu password?</h2>
<div class="booyah-box col-md-6">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envíame instrucciones par resetear mi password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
